.MuiPaginationItem-text {
  color: black !important;
}
.Mui-selected {
  color: black;
}
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  transition: ease !important;
  background-color: rgba(111, 111, 111, 0.8) !important;
}

.prod-list {
  background: linear-gradient(to right, #000000, #434343);
}
