.intro-h1 {
  text-align: center;
}

.center-block {
  text-align: justify;
  margin: 0 5%;
}

.second-text {
  text-align: justify;
  margin: 0 5%;
}

/* .home {
  background-image: url("https://i.pinimg.com/564x/a2/85/4f/a2854f9ba7bf483a700b2c365c60c05b.jpg");
  background-repeat: repeat-y;
} */
