.post p {
  font-size: 1.5rem;
}

.post {
  margin: 1% 10%;
}

.image {
  margin: 0 auto;
}

.video-bg {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.video-bg video {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  opacity: 0.7;
}

.video-bg__content {
  z-index: 2;
  text-align: center;
  margin: 1% 5%;
  font-size: 1.2rem;
}

.video-bg__content h2 {
  font-size: 3rem;
}

.text_content {
  max-width: 1400px;
  margin: 5vw auto;
  padding: 0 20px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.image-bg button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  text-align: center;

  font-size: 1.2rem;
}

.image-bg {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-bg img {
  width: 100%;
  opacity: 0.7;
}
.btn {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#PaymentForm {
  margin: 4vh;
}
.home {
  text-decoration: none !important;
}
.css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #ffffff !important;
  border: 1px solid black !important;
  text-decoration: none !important;
}
.prodDetail {
  display: flex;
}
.detail_body {
  display: flex;
  margin-bottom: 2%;
}
.detail_right {
  display: flex;
  flex-direction: column;
}
#desc {
  font-size: 1.5rem;
  color: black;
}
#price {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.5rem;
  margin-right: 5%;
  font-weight: 800;
}
